<h1>Coupon Form</h1>
<%= form_tag  coupons_path do %>
  <div>
    <label>Coupon Code:</label>
    <%= text_field_tag :'coupon[coupon_code]' %>
  </div>
  <div>
    <label>Coupon Store:</label>
    <%= text_field_tag :'coupon[store]'%>
  </div>
  <%= submit_tag :'Submit Coupon' %>
<% end %>
